$def using (vm)

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Power Options<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/hackathon/vm?vm=$(vm)&action=start">Start</a></li>
        <li><a href="/hackathon/vm?vm=$(vm)&action=stop">Stop</a></li>
        <li><a href="/hackathon/vm?vm=$vm&action=destroy">Destroy</a></li>
        <li><a href="/hackathon/vm?vm=$vm&action=suspend">Suspend</a></li>
        <li><a href="/hackathon/vm?vm=$vm&action=resume">Resume</a></li>
    </ul>
</div>"
